body {
	background: none;
	font-family: 'Roboto', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

/*bootstrap overrides*/
.list-group-item.active {
	z-index: 2;
	color: #fff;
	background-color: #495057;
	border-color: #495057;
}

.media>img {
	height: 100px;
}

.jumbotron {
	background-color: royalblue;
	border-radius: 0;
	color: ghostwhite;
}

.card {
	box-shadow: #343a40;
}

.display-4 {
	color: azure;
}

.container-fluid {
	padding-left: 0%;
	padding-right: 0%;
}

.card {
	border-radius: 0;
}

.btn-primary {
	background-color: darkslategrey;
	border-color: #343a40;
}

.btn-primary:hover {
	background-color: azure;
	color: #343a40;
}


/*Custom CSS*/


overlay {
	border-radius: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 100px;
	height: 100%;
	width: 100%;
	padding-top: 40px;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	transition: all 0.5s ease 0s;
	z-index: 20;
}

.overlay2 {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 50px;
	height: 100%;
	width: 100%;
	padding-top: 100px;
	top: 0;
	left: 0;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	text-align: center;
	transition: all 0.5s ease 0s;
	z-index: 20;
}

.gallery a{
	position: relative;
	display: block;
}

.gallery a:hover .overlay, .gallery a:hover .overlay2 {
	opacity: 0.8;
}

.img-space {
	margin: 20px 0px;
}

.sendable-main-content {
	width: 100%;
	min-height: 600px;
}

.sidenav-card {
	background-color: #343a40;
	height: 800px;
}

.text-space {
	min-height: 350px;
}

/*Gaegu|Gochi+Hand|Homemade+Apple|Marck+Script|Nothing+You+Could+Do|Permanent+Marker|Sacramento*/
.font1 {
	font-family: 'Gaegu', cursive;
}

.font2 {
	font-family: 'Gochi Hand', cursive;
}

.font3 {
	font-family: 'Homemade Apple', cursive;
}

.font4 {
	font-family: 'Marck Script', cursive;
}
.font5{
	font-family: NothingYou Could Do, cursive;
}

.font6{
	font-family: Permanent Marker, cursive;
}

.font7{
	 font-family: Sacramento,cursive;
}

.write-card-space {
	background-color: azure;
	height: 1080px;
}

.register-form, .allcategories {
	margin: 40px;
	min-width: 200px;
}

.break {
	margin-top: 100px;
}

.required-field {
	color: red;
}

.write-card {
	background-color: ghostwhite;
}

.send-card {
	background-color: ghostwhite;
	height: 100%;
}

.img-selected {
	width: auto;
	height: 50px;;
}