body{
    background: none;
    font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
}


/*Custom CSS*/

.sidenav-card{
    background-color: #343a40;
    height: 800px;
}

.text-space{
    min-height: 350px;
}

.font1{
    font-family: 'Sacramento', cursive;
    
}
.font2{
    font-family: 'Nothing You Could Do', cursive;
    
}
.font3{
    font-family: 'Homemade Apple', cursive;
    
}
.font4{
    font-family: 'Allura', cursive;
    
}

.write-card-space{
    background-color: azure;
    height: 800px;
}

.register-form, .allcategories{
    margin: 40px;
    min-width: 200px;
}

.break{
    margin-top: 100px;
}

.required-field{
    color: red;
}

.write-card{
    background-color: ghostwhite;
}

.send-card{
    background-color:ghostwhite;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 100px;
    height: 100%;
	width: 100%;
    padding-top:40px;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    z-index: 20;
}

.overlay2{
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 40px;
    height: 100%;
	width: 100%;
    padding-top:100px;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    transition: all 0.5s ease 0s;
    z-index: 20;
}

.gallery a:hover .overlay ,
.gallery a:hover .overlay2 {
    opacity: 0.8;
}

.img-space{
    margin:20px 0px;
}
.display-4{
color: azure;

}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
.btn-primary{
background-color: darkslategrey;
border-color: #343a40;
}
.btn-primary:hover{
    background-color:  azure;
    color: #343a40;

}

/*bootstrap overrides*/
.modal-dialog {
    max-width: 720px;
    margin: 1.75rem auto;
    border: none;
    border-radius: 0;
}
.jumbotron {
    background-color:royalblue;
    border-radius: 0;
    color:ghostwhite;
}
.gallery a {
	position: relative;
	display: block;
}
