body{
    background: none;
    font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
}




/*Custom CSS*/

.sidenav-card{
    background-color: #343a40;
    height: 800px;
}

.text-space{
    min-height: 350px;
}
.font1{
    font-family: 'Sacramento', cursive;
    
}
.font2{
    font-family: 'Nothing You Could Do', cursive;
    
}
.font3{
    font-family: 'Homemade Apple', cursive;
    
}
.font4{
    font-family: 'Allura', cursive;
    
}
.write-card-space{
    background-color: azure;
    height: 800px;
}
.register-form, .allcategories{
    margin: 40px;
    min-width: 200px;
}

.break{
    margin-top: 100px;
}

.required-field{
    color: red;
}


.write-card{
    background-color: ghostwhite;
}

.send-card{
    background-color:ghostwhite;
    height: 100%;
}

.img-selected{
    width: auto;
    height: 50px;;
}

/*bootstrap overrides*/
.jumbotron {
    background-color:royalblue;
    border-radius: 0;
    color:ghostwhite;
}

.card{
    box-shadow: #343a40;
}
.display-4{
color: azure;

}
.container-fluid{
    padding-left: 0%;
    padding-right: 0%;
}
.card{
    border-radius: 0;
}
.btn-primary{
background-color: darkslategrey;
border-color: #343a40;
}
.btn-primary:hover{
    background-color:  azure;
    color: #343a40;

}